@font-face {
	font-family: "Iosevka";
	src: url("Iosevka.woff2") format("woff2");
}

.tt-home {
	text-decoration: none;
	padding: 5px;
	border-radius: 10px;
	transition: background-color 0.5s ease;
}

/* dark theme, but don't ruin the video player */
* {
	font-family: "Iosevka", monospace;
	background-color: #2e2e2e;
	color: lightgray;
}

/* simple vertical flow, elements centered on y-axis */
/* avoids extra work for mobile! */
.tt-vert {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* horizontal flow that wraps on smaller screens (e.g. mobile) */
.tt-horiz {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* nice, contrasting, rounded border */
.tt-border,
.tt-clickable {
	border-radius: 10px;
	border: 2px solid gray;
}

/* remember: tt-clickable INHERITS from tt-border */

.tt-clickable {
	padding: 10px;
	margin: 5px;
	transition: background-color 0.3s ease;
}

button,
input {
	font-size: 12pt;
}

/* italicize buttons and input placeholder text */
button,
input::placeholder {
	font-style: italic;
}

/* input::placeholder {
	text-align: center;
} */

/* increase contrast between these elements and the body  */
input,
.tt-clickable:hover,
.tt-home:hover {
	background-color: #434343;
}

/* get rid of the ugly outline when any element is focused */
:focus {
	outline: none;
	box-shadow: none;
}

/* tt styled table */

/* this must wrap a <table> to give it rounded corners using tt-border */
.table-wrapper {
	overflow: hidden;
	margin: 5px;
}

table {
	border-collapse: collapse;
}

thead * {
	background-color: #434343;
}

td, th {
	border: 1px solid gray;
	padding: 10px;
	text-align: center;
}

/* everything below avoids border-clashing */

tr > :first-child {
	border-left: none;
}

tr > :last-child {
	border-right: none;
}

tr:first-child > * {
	border-top: none;
}

tbody > tr:last-child > * {
	border-bottom: none;
}
