.tt-clickable {
	font-size: 12pt;
}

/* combined with .tt-border */
.search-result {
	display: flex;
	align-items: flex-start;
	padding: 10px;
	margin: 10px;
}

/* only applied on <img>s */
.sr-thumbnail {
	border-radius: 10px;
	max-width: 50%;
	max-height: 202px;
	margin-right: 5px;
	flex-flow: 0;
	flex-shrink: 1;
	flex-basis: 50px;
}

/* simple <div> for video metadata */
.sr-metadata {
	flex-grow: 1;
	margin-left: 5px;
	background-color: inherit;
}
.sr-metadata * {
	background-color: inherit;
}

/* <div> containing video id */
.sr-id {
	color: #787878;
}

#player {
	width: 100%;
	max-height: 50vh;
	margin: 5px;
}

#sr-container {
	display: none;
}

.sr-btns * {
	margin: 0;
	margin-bottom: 5px;
	width: 20px;
	height: 20px;
}
