#everything-else {
	display: none;
}

#details-root {
	display: flex;
	align-items: flex-start;
	padding: 10px;
	margin: 5px;
	text-decoration: none;
}

#details-thumbnail {
	border-radius: 10px;
	max-width: 50%;
	max-height: 202px;
	margin-right: 5px;
	flex-flow: 0;
	flex-shrink: 1;
	flex-basis: 50px;
}

#details-text {
	flex-grow: 1;
	background-color: inherit;
}

#details-text * {
	background-color: inherit;
}

.selected-format * {
	font-weight: bold;
	background-color: gray;
}

a[href=""] {
	border: 2px dashed gray;
	color: gray;
}

.format-type-header {
	color: gray;
	font-style: italic;
	margin-bottom: 5px;
	padding-bottom: 0;
}
