#everything-else {
	display: none;
}

#details-root {
	display: flex;
	align-items: flex-start;
	padding: 10px;
	margin: 5px;
	text-decoration: none;
}

#details-thumbnail {
	border-radius: 10px;
	max-width: 50%;
	max-height: 202px;
	margin-right: 5px;
	flex-flow: 0;
	flex-shrink: 1;
	flex-basis: 50px;
}

#details-text {
	flex-grow: 1;
	background-color: inherit;
}

#details-text * {
	background-color: inherit;
}

.selected-format * {
	font-weight: bold;
	background-color: gray;
}

#copied-popup {
	position: absolute;
	background-color: #111;
	padding: 3px;
	border-radius: 10px;
	opacity: 0;
}

.cp-animation {
	animation: fadeout 1.5s forwards;
}

@keyframes fadeout {
	0% { opacity: 1 }
	100% { opacity: 0; }
}

details > summary::before {
	color: gray;
}

h2 {
	margin-bottom: 5px;
}

/* look even less clickable if there is no link */
a[href=""] {
	border: 2px dashed gray;
	color: gray;
}

details[open] {
	padding: 5px;
}
