/* tt styled table */

/* this must wrap a <table> to give it rounded corners using tt-border */
.table-wrapper {
	overflow: hidden;
	margin: 5px;
}

table {
	border-collapse: collapse;
}

thead * {
	background-color: #434343;
}

td,
th {
	border: 1px solid gray;
	padding: 10px;
	text-align: center;
}

/* everything below avoids border-clashing */

tr > :first-child {
	border-left: none;
}

tr > :last-child {
	border-right: none;
}

tr:first-child > * {
	border-top: none;
}

tbody > tr:last-child > * {
	border-bottom: none;
}